
/* 
body {
  cursor: none; 
} */

/* .mouse-glow-wrapper {
  position: fixed;
  pointer-events: none;
  z-index: 9999;
} */

/* .mouse-glow-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 9999;
} */

/* .mouse-glow-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
} */


/* .mouse-glow-circle {
  width: 256px; 
  height: 256px;
  border-radius: 50%;
  background: radial-gradient(
    circle,
    rgba(0, 123, 255, 0.4) 0%,
    rgba(0, 123, 255, 0) 70%
  );
  filter: blur(50px);
} */

/* .mouse-glow-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: black;
  mix-blend-mode: normal;
} */
/* ------------ */

.mouse-glow-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%); /* 用 CSS 讓圓點居中 */
}

.mouse-glow-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
}