:root {
  --PrimaryColor: #020229;
  --SecondaryBlue: #1a237e;
  --SecondaryBlueAlpha: rgba(26, 35, 126, 0.5);
  --AccentBlue: #1124ed;
  --HoverColor: #7cccf7;
  --BackgroundColor: #dbf8ff;
  --ContrastColor: #f28500;
  --ContrastRedColor: #f70000;
}

/* Schedule Section Style*/

.ScheduleTimeline {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem 0;
}

.ScheduleTimeline::after {
  content: "";
  position: absolute;
  /* timeline line setting */
  width: 0.5rem;
  border-radius: 5rem;
  background-color: var(--HoverColor);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.TimelineItemContainer {
  padding: 1rem 2rem;
  position: relative;
  width: 50%;
}

.TimelineItemContainer::after {
  content: "";
  /* timeline point */
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  top: 15px;

  background-color: var(--SecondaryBlue);
  border: 0.3rem solid var(--HoverColor);
  border-radius: 5rem;
  z-index: 1;
}

.TimelineItemLeft {
  left: 0;
}

.TimelineItemRight {
  left: 50%;
}

/* Fix the circle for containers on the right side */
.TimelineItemRight::after {
  left: -16px;
}

/* The actual content */
.TimelineContent {
  padding: 1rem;
  background-color: var(--BackgroundColor);
  position: relative;
  border-radius: 1rem;
  text-align: left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.TimelineContent:hover {
  background-color: var(--HoverColor);
}

.TimelineContent:hover time {
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--ContrastRedColor);
}

.TimelineContent h3 {
  text-align: center;
}

.timeline {
  position: relative;
  margin-left: 30px;
  padding-left: 20px;
  border-left: 2px solid #ccc;
}

.timeline-item {
  position: relative;
  margin-bottom: 30px;
}

.timeline-dot {
  position: absolute;
  left: -11px;
  top: 0;
  width: 12px;
  height: 12px;
  background-color: #007bff;
  border-radius: 50%;
  border: 2px solid #fff;
}

.timeline-content {
  padding-left: 10px;
}

.timeline-date {
  font-weight: bold;
  margin-bottom: 4px;
  font-size: 2rem;

}

.timeline-title {
  margin: 2px 0;
}

.timeline-desc {
  font-size: 0.9em;
  color: #666;
}
